<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DBConn" connectionString="Data Source=34.80.215.162;Initial Catalog=GSSWEB;Integrated Security=False;User ID=sa;Password=aAzZ1234;Connect Timeout=15;TrustServerCertificate=False" />
  </connectionStrings>
</configuration>